/* global css */
.font__primary {
  font-family: "Poppins", sans-serif;
}
.font__secondary {
  font-family: "Quicksand", sans-serif;
}

.table__background {
  background: linear-gradient(90deg, #8a3299 37.65%, #e13369 100%);
  border-radius: 7px 7px 0px 0px;
}
